@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Akshay Software Developer</h1>
    <p class="lead">Expert in MVC Project </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DOTnet</h2>
        <p>
            .NET is a framework to develop software applications.
        </p>
        <p>Common Language Runtime (CLR)</p>
<p>Framework Class Library (FCL),</p>
<p>Core Languages (WinForms, ASP.NET, and ADO.NET), and</p>
<p>Other Modules (WCF, WPF, WF, Card Space, LINQ, Entity Framework, Parallel LINQ, Task Parallel Library, etc.)</p>
    </div>
    <div class="col-md-4">
        <h2>PHP</h2>
        <p> PHP Hypertext Preprocessor (PHP) is a programming language that allows web developers to create dynamic content that interacts with databases. PHP is basically used for developing web based software applications.</p>
        <p> <h3>Laravel</h3>
Laravel is most useful for RESRful Routing and light weight bled tempting engine. Laravel has integrated with some of great components of well tested and reliable code.</p>
   <p>
       <h3>Zend</h3>
       Zend is Modern frame work for performing high end web applications. This works based on Cryptographic and secure coding tools.
   </p>
        <p>
           <h3>Codeigniter</h3>
            Codeigiter is simple to develop small fool print for developer who need simple and elegant tool kit to create innovative web applications.

        </p>
     </div>
    <div class="col-md-4">
        <h2>Spring framework</h2>
        <p>Spring framework is an open source Java platform that provides comprehensive infrastructure support for developing robust Java applications very easily and very rapidly.</p>
    <p>Spring framework is an open source Java platform. It was initially written by Rod Johnson and was first released under the Apache 2.0 license in June 2003.</p>
    
    <p>
        Spring is the most popular application development framework for enterprise Java. Millions of developers around the world use Spring Framework to create high performing, easily testable, and reusable code.
        </p></div>
</div>